 *{margin: 0;padding: 0;}
           a{text-decoration: none;}
	       img，input{border: none;}
	  	   li{list-style: none;}
h1{
	color:#0d7e83;
	margin:100px 500px 0;
}
li{
	margin: 30px 495px;
}
li a{
	color: #a2738c;
	margin: 0 10px;
}
li a:hover{
	color: #60efb8;
}
